/* Eliana Rodrigues, 10.11.2021
Desafio 3 "sliding menu & chaining animation", FBAUP, WD2  */

/* Importar fonte */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* Geral */
* {
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  margin: 0;
}

nav {
  white-space: nowrap;
  width: 20vw;
  height: 29vh;
  float: left;
}

ul {
  list-style-type: none;
  line-height: 3em;
  padding-top: 1.5em;
}

li:hover {
  font-style: italic;
}

a {
  color: white;
  text-decoration: none;
}

section {
  margin: 1em;
  margin-right: 25em;
  margin-left: 25em;
  clear: left;
}

p {
  margin-left: 3em;
  line-height: 1.4em;
}

button {
  border: none;
  text-decoration: none;
  font-size: 16px;
  background-color: transparent;
  margin: 0.8em;
  cursor: pointer;
  color: crimson;
}

h1 {
  margin-top: 6.5em;
  margin-left: 10em;
  clear: left;
  cursor: pointer;
  font-size: 2em;
}

h2:hover {
  cursor: pointer;
  font-style: italic;
}
